modules = ["python-3.10", "shogi_game_temp.py"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python3"]
deploymentTarget = "cloudrun"
